@{
    ViewData["Title"] = "Home Page";
}
<!-- Add Font Awesome to your project -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 20px;
    }
    input, button {
        width: 40%;
        padding: 10px;
        margin: 10px 0;
        font-size: 1.2em;
    }
    .error {
        color: red;
    }
</style>
<div class="text-center">
    <h1 class="display-4">My Puzzling Hobby</h1> 
    <p><i class="fas fa-puzzle-piece"></i> Learn about my puzzle hobby! <i class="fas fa-puzzle-piece"></i></p>
    </div>
<div>
    <p>Over the last few years, I have found a lot of joy in putting together puzzles. 
        This is something I love to do with friends, as well as on my own. It is so easy to 
        simply pull out a puzzle when I need a study break, or want something to do while I am home
        or watching a show.</p>
    <p>I started out with smaller puzzles, and have slowly worked my way up to bigger and more complicated 
        puzzles. I have done a puzzle as large as 2000 pieces. This one took forever and I'm never doing it again.
        My favorite puzzle size is 750 pieces.</p>
    <img src="IMG_5884.JPG" alt="Description" height="200">
    <img src="IMG_6237.JPG" alt="Image" height="200">
</div>